#header h1 {
    height: 31px;
    background: none;
    left: 20px;
    overflow: hidden;
    position: relative;
    top: 16px;
    font-size: 1.4em;
    width: 191px;
    line-height: normal;
}
#header h1 a{
    color: white;
}