/* font-family: "ModernHEcoLight"; */
@font-face {
    font-family: "ModernHEcoLight";
    src: url("../fonts/ModernHEcoLight/ModernHEcoLight.eot");
    src: url("../fonts/ModernHEcoLight/ModernHEcoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ModernHEcoLight/ModernHEcoLight.woff") format("woff"),
    url("../fonts/ModernHEcoLight/ModernHEcoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ModernHLight"; */
@font-face {
    font-family: "ModernHLight";
    src: url("../fonts/ModernHLight/ModernHLight.eot");
    src: url("../fonts/ModernHLight/ModernHLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ModernHLight/ModernHLight.woff") format("woff"),
    url("../fonts/ModernHLight/ModernHLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ModernHMedium"; */
@font-face {
    font-family: "ModernHMedium";
    src: url("../fonts/ModernHMedium/ModernHMedium.eot");
    src: url("../fonts/ModernHMedium/ModernHMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ModernHMedium/ModernHMedium.woff") format("woff"),
    url("../fonts/ModernHMedium/ModernHMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ModernHBold"; */
@font-face {
    font-family: "ModernHBold";
    src: url("../fonts/ModernHBold/ModernHBold.eot");
    src: url("../fonts/ModernHBold/ModernHBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ModernHBold/ModernHBold.woff") format("woff"),
    url("../fonts/ModernHBold/ModernHBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "General";
    src: url("../fonts/general/flaticon.eot");
    src: url("../fonts/general/flaticon.eot#iefix") format("embedded-opentype"),
    url("../fonts/general/flaticon.woff") format("woff"),
    url("../fonts/general/flaticon.ttf") format("truetype"),
    url("../fonts/general/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "education";
    src: url("../fonts/education/flaticon.eot");
    src: url("../fonts/education/flaticon.eot#iefix") format("embedded-opentype"),
    url("../fonts/education/flaticon.woff") format("woff"),
    url("../fonts/education/flaticon.ttf") format("truetype"),
    url("../fonts/education/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "access";
    src: url("../fonts/access/flaticon.eot");
    src: url("../fonts/access/flaticon.eot#iefix") format("embedded-opentype"),
    url("../fonts/access/flaticon.woff") format("woff"),
    url("../fonts/access/flaticon.ttf") format("truetype"),
    url("../fonts/access/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

body, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "ModernHMedium";
    font-size: 14px;
    color: white;
    height: 100%;
    overflow: hidden;
}
.wrap {
    max-width: 960px;
    height: 90%;
    position: relative;
    margin: 0 auto;
    border-radius: 6px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    box-shadow: 0 0 10px rgb(57, 57, 58);
    box-sizing: border-box;
}
body>img{
    width: 100%;
    min-height: 100%;
    position: absolute;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.infobtn {
    position: absolute;
    left: 0;
    top: 31px;
    z-index: 9;
    overflow: hidden;
}
.textinf {
    background: white;
    color: #2192A0;
    padding: 10px;
    left: -100%;
    top: 0;
    position: relative;
}
.cont-wrap {
    display: table;
    height: 100%;
    overflow: hidden;
}
.tc{
    display: table-cell;
    min-height: 100%;
    vertical-align: top;
}
.left {
    border-radius: 6px 0 0 6px;
    width: 260px;
    position: relative;
}
.socim {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}
.left-pb {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    height: 120px;
    overflow: hidden;
}
.titl-pb {
    font-size: 1.2em;
    color: #CDDC39;
}
.desc-pb {
    font-size: 12px;
}
.left-pb img{
    height: auto;
}
.postbl {
    margin-top: 4px;
    margin-bottom: 6px;
    padding-bottom: 2px;
    border-bottom: 1px dashed #0F97A8;
}
.right-pb {
    display: inline-block;
    width: 65%;
    margin-left: 1%;
    vertical-align: top;
}
.int-l {
    background: #4A6069;
}
.chart-l {
    background: rgba(63, 129, 138, 0.9);
}
.dopinf-l {
    height: auto;
    min-height: 20px;
    background: rgba(74, 96, 105, 0.94);
    border-radius: 0 0 0 6px;

}
.right {
    position: relative;
    width: 700px;
    border-radius: 0 6px 6px 0;
}
h1, h2 {
    margin: 0;
}
h1{
    font-size: 1.4em;
    padding: 8px 0;
}
h2{
    font-size: 1.2em;
    padding: 4px 0;
}
*{
    box-sizing:border-box;
}
.head-r {
    background: rgba(0, 0, 0, 0.74);
    border-radius: 0 6px 0 0;
    text-align: center;
    position: relative;
    font-family: "ModernHEcoLight";
}
.langs {
    position: absolute;
    top: 34%;
    right: 10px;
}
.content-r {
    background: rgba(0, 0, 0, 0.74);
    border-radius: 0 0 6px 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
a {
    color: #CDDC39;
    text-decoration: none;
}
.forlog {
    background: rgba(0, 188, 212, 0.7);
    border-radius: 6px 0 0 0;
    padding: 4px;
}
.int>span {
    display: block;
    font-size: 14px;
}
.int {
    font-size: 1.8em;
    color: #CDDC39;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 6px 10px;
    text-shadow: 1px 1px #353738;
}
.char-skill {
    display: table;
    width: 100%;
    padding-left: 10px;
    padding-top: 8px;
}
.chrt {
    display: inline-block;
    width: 32%;
    text-align: center;
}
.chrt p {
    margin: 2px 0;
    font-size: 0.9em;
}
.left-cs {
    padding-bottom: 5px;
}
.vt {
/*    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    writing-mode: tb-rl;*/
}
.logo, .nav-tl{
    display: inline-block;
    vertical-align: middle;
}
li.picnav{
    color: white;
    transition: color 0.3s;
}
.picnav:before {
    font-size: 2.2em!important;
    margin: 0!important;
}
li.picnav {
    display: inline-block;
    position: relative;
    margin: 0 4px;
    text-shadow: 0 0 10px dimgrey;
}
.nav-tl {
    padding-left: 10%;
    padding-top: 6px;
}
.logo img {
    position: relative;
    top: 8px;
}
li.picnav a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
li.picnav:hover{
    color: #607D8B;
}
.titl-l {
    padding: 4px 10px;
    background: rgba(0, 0, 0, 0.28);
    color: #00BCD4;
}
li.picnav.activ:after {
    content: "";
    position: absolute;
    top: 44px;
    left: 0;
    height: 0;
    width: 100%;
    border-bottom: 2px solid;
    margin: 0;
}
.langs a {
    position: relative;
}
.langs a.activ:after {
    content: "";
    position: absolute;
    top: 37px;
    left: 0;
    height: 0;
    width: 100%;
    border-bottom: 2px solid;
    margin: 0;
}
.body {
    padding: 10px;
}
.title-sect {
    font-size: 1em;
    text-transform: uppercase;
    padding: 4px;
    padding-bottom: 6px;
    border-bottom: 1px solid #9E9E9E;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
    background-color: #8BC34A;
    color: white;
    font-family: "ModernHBold";
    opacity: 1;
}
.tabs li {
    display: inline-block;
    padding: 4px 10px;
    cursor: pointer;
    margin-top: 6px;
    background: none;
    color: white;
    transition: all 0.3s;
    border-bottom: 1px solid #8BC34A;
}
.tabs .activ {
    background: white;
    color: black;
    text-shadow: -1px 1px #DADADA;
}
.tabs li:hover {
    background: white;
    color: black;
    text-shadow: -1px 1px #DADADA;
}
.t-wind {
    margin-top: 10px;
    font-size: 0px;
}
img {
    width: 100%;
}
.work-c {
    display: inline-block;
    width: 33.3%;
    margin-right: 0%;
    overflow: hidden;
    height: 160px;
    font-size: 14px;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    border-bottom: 0;
    border-right: 0;
}
.datainf {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.72);
    text-align: center;
    padding: 10%;
}
.work-c img {
    height: 100%;
    width: auto;
}
.work-c:hover .datainf{
    display: block!important;
}
.name-wc {
    padding-bottom: 10px;
    font-size: 1.6em;
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #CDDC39!important;
}
.mCSB_scrollTools .mCSB_dragger {
    height: 50px!important;
}
li.picnav span {
    position: absolute;
    background: white;
    z-index: 999;
    padding: 10px;
    color: #607D8B;
    text-shadow: none;
    border-radius: 6px;
    top: -5px;
    left: 34px;
    box-shadow: 0 0 4px;
    opacity: 0;
    transition: all 0.3s;
    display: none;
}
/*li.picnav:hover span{
    opacity: 1;
    display: block;
}*/
.body-sect {
    margin-bottom: 20px;
}

.ct-grid {
    stroke: rgb(255, 255, 255)!important;
    stroke-width: 1px!important;
    stroke-dasharray: 0px!important;
}
.soc {
    position: absolute;
    bottom: 4px;
    width: 100%;
}
.soc-b {
    display: inline-block;
    vertical-align: top;
    font-size: 0.8em;
    margin-right: 2%;
}